
// -------------------
// Process parameters
// -------------------

process {
    conda = '/home/BCRICWH.LAN/Derek.Tam/miniconda3/envs/build-control-cohort'
    executor = 'slurm'
    queue = 'defq'

    withLabel: cores_1 {
        cpus = 1
        memory = '4 GB'
    }

    withLabel: cores_8 {
        cpus = 8
        memory = '32 GB'
    }
}

executor {
    name = 'slurm'
    queueSize = 20
}

// -----
// Conda
// -----

conda {
    enabled = true
    cacheDir = ".env"
}

// ---------
// Reporting
// ---------

report {
    enabled = true
    file = 'reports/align-rna_report.html'
}

timeline {
    enabled = true
    file = 'reports/align-rna_timeline.html'
}

// ------
// Parameters
// ------

params {
    pub_dir = 'OUTPUT_DIR'
    sample_annotation= 'example_annotation.tsv'
    fastq_dir = 'FASTQ_DIR'

    // HISAT2 specific parameters
    hisat2_splicesites = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GENCODE/HISAT2/gencode.v38.annotation.gtf.hisat2.splicesites.tsv'
    hisat2_index = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GENCODE/HISAT2/GRCh38_GENCODEv38_TranscriptAware'

    // STAR specific parameters
    star_index = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GENCODE/STAR'

    // featureCounts specific parameters 
    featureCounts_gtf = '/mnt/common/DATABASES/REFERENCES/GRCh38/GENOME/GENCODE/gencode.v38.annotation.gtf'
}

